body {
  font: 180% Courier New, sans-serif;
  color: #ffffff; 
  margin: 0;
  padding: 0;
  background-color: #589442;
}

.banner {
  height: 150px;
  width: 100%;
  background-color: #589442;
}

.main{
	width: 100%;
	height: auto;
	margin: 20px auto;
	margin-left: 300px;
}
